<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FastAPI Template</title>
  </head>
  <body>
<h1>文章列表</h1>
<hr/>
<a href="addForm.html">add post</a> <a href="/logout">Logout</a>
<ol>
	{% for item in items %}
	<li>
	<!-- 
	<a href="/read/{{item.id}}"> {{ item.title }}</a> 
	-->
	<button type="button" onclick="readPost({{item.id}})">
	{{ item.title }}
	</button>
	{% if role == 'admin' %}
	<button type="button" onclick="delPost({{item.id}})">
	刪
	</button>
	{% endif %}
	</li>
	{% endfor %}
</ol>
</body>
</html>
